@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

main {
  min-height: 1000px;
  padding: 0px 50px;
  background-color: #181818;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: black;
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: aquamarine;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

.home__container, 
.moviedetails__container {
  padding-top: 50px;
}

.list-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.list-movies img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 2px 17px -7px rgba(192, 189, 189, 0.75);
  transition: transform 100ms ease-in;
}

.list-movies img:hover {
  transform: scale(1.04);
}

.list-movies .movie-info {
  width: 200px;
  margin: 15px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.movie-info p {
  margin-top: 10px;
}

.list-movies a {
  text-decoration: none;
  color: white;
}

.moviedetails__container {
  padding: 50px;
  display: flex;
}

.moviedetails__container img {
  width: 350px;
  margin-right: 50px;
  border-radius: 20px;
}

.movie-detail h2 {
  margin-top: 40px;
}

.movie-detail .tagline {
  font-size: 20px;
  font-style: italic;
}

.text-light {
  color: rgb(160, 160, 160);
}