@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 10px 25px;
}

.btn-primary {
  cursor: pointer;
  background-color: #810dce;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 15px;
  outline: none;
}

.btn-primary:hover {
  background-color: #5f0899;
}

.btn:disabled {
  pointer-events: none;
  opacity: 0.5;
}

main {
  min-height: 600px;
  padding: 0px 50px;
  background-color: #181818;
  color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: black;
  color: white;
}

header img {
  width: 100px;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: aquamarine;
}

header .nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

header .nav-links li {
  display: inline-block;
  margin-right: 30px;
}

header .nav-links li:last-child {
  margin-right: 0;
}

.home__container, 
.moviedetails__container,
.moviesearch__container,
.wathclist__container {
  padding-top: 50px;
}

.list-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

.list-movies img {
  width: 200px;
  border-radius: 5px;
  box-shadow: 0px 2px 17px -7px rgba(192, 189, 189, 0.75);
  transition: transform 100ms ease-in;
}

.list-movies img:hover {
  transform: scale(1.04);
}

.list-movies .movie-info {
  width: 200px;
  margin: 15px;
  margin-bottom: 40px;
}

.movie-info p {
  margin-top: 10px;
}

.list-movies a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.moviedetails__container {
  padding: 50px;
  display: flex;
}

.moviedetails__container img {
  width: 350px;
  margin-right: 50px;
  border-radius: 20px;
}

.movie-detail h2 {
  margin-top: 40px;
}

.movie-detail .tagline {
  font-size: 20px;
  font-style: italic;
}

.text-light {
  color: rgb(160, 160, 160);
}

.fas {
  color: rgb(255, 94, 1);
  margin-bottom: 20px;
}

.input-wrapper input {
  background-color: #c7d450;
  outline: none;
  margin-bottom: 30px;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 15px;
  width: 350px;
}

.movies img {
  width: 150px;
  border-radius: 10px;
}

.movie-data {
  display: flex;
  margin-bottom: 30px;
}

.movie-data .movie-data-info {
  margin-left: 20px;
}